
.link-twitter {
	background-image: url('../images/twitter.svg');
	background-size: 16px 16px;
}

.reveal a.link-github {
	color: #000;
}

h2.main-title {
	margin-top: -200px;
}

.svg.openacademy {
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;
}

.svg.ustream {
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;
}

.code-keyword {
	color: #539eec;
}
.code-call {
	color: #f28a2e;
}
.code-literal {
	color: #91b31b;
}
.code-variable {
	color: #f28a2e;
}



.figures {
	position: relative;
}

.svg {
	position: absolute;
	display: block;
}
.reveal section .svg img {
	border: none;
	background: none;
	box-shadow: none;
}

.arrow {
	position: absolute;
	height: 32px;
	background-color: #91b31b;
}

.arrow.to-right:after,
.arrow.to-left:before {
	font-size: 96px;
	position: absolute;
	top: -13px;
	color: #91b31b;
}

.arrow.to-right:after {
	content: "▸";
	display: block;
	right: -33px;
}

.arrow.to-left:before {
	content: "▸";
	display: block;
	left: -30px;

	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}

.fig {
	border-width: 4px;
	border-style: solid;
	border-radius: 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.fig, .svg, .arrow, .figures  {
	-webkit-transition: all .7s;-moz-transition: all .7s;-ms-transition: all .7s;-o-transition: all .7s;transition: all .7s;
}

.fig span {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 15px;
}


.fig-html {
	position: relative;
	z-index: 1;
	background-color: rgba(51,136,255, 1);
	border-color: #3388ff;

	width: 240px;
	height: 380px;

	-webkit-transform: rotateX(60deg) rotateZ(-45deg);
	transform: rotateX(60deg) rotateZ(-45deg);

	left: 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.fig-js {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;

	background-color: rgba(239,218,92, 1);

	border-color: #efda5c;

	-webkit-transform: rotateX(60deg) rotateZ(-45deg);
	-moz-transform: rotateX(60deg) rotateZ(-45deg);
	-o-transform: rotateX(60deg) rotateZ(-45deg);
	-ms-transform: rotateX(60deg) rotateZ(-45deg);
	transform: rotateX(60deg) rotateZ(-45deg);

	height: 70px;

	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.fig-package {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgba(242, 138, 46, 1);
	border-color: #f28a2e;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.fig-js span {
	color: #303030;
	font-weight: 500;
}

.fig-js-inline {
	width: 200px;
	height: 180px;
}

.inlinescripts .fig-js-inline {
	top: 90px;
}

.separatedfiles .fig-html,
.separatedfiles .inlinescripts .fig-js-inline,
.separatedfiles.inlinescripts .fig-js-inline,
.separatedfiles.inlinescripts .fig-js {
	-webkit-transform: rotateX(0deg) rotateZ(0deg);
	-moz-transform: rotateX(0deg) rotateZ(0deg);
	-o-transform: rotateX(0deg) rotateZ(0deg);
	-ms-transform: rotateX(0deg) rotateZ(0deg);
	transform: rotateX(0deg) rotateZ(0deg);
}
.separatedfiles .inlinescripts .fig-js-inline,
.separatedfiles.inlinescripts .fig-js-inline {
	top: 0px;
	left: 260px;
	z-index: 2;
}

.separatedfiles.inlinescripts .fig-js {
	background-color: rgba(239,218,92, 1);
}

.separatedfiles.inlinescripts .fig-js {

	top: 0;
	width: 100px;
	left: 260px;
	z-index: 4;
}

.separatedfiles.inlinescripts .fig-js-inline {
	z-index: 5;
	width: 200px;
}

.organizedcode .separatedfiles.inlinescripts .fig-js,
.organizedcode.separatedfiles.inlinescripts .fig-js 	{
	width: 200px;
}

.organizedcode .separatedfiles.inlinescripts .fig-js-inline,
.organizedcode.separatedfiles.inlinescripts .fig-js-inline {
	height: 70px;
}
.organizedcode .separatedfiles.inlinescripts .fig-js.org-1,
.organizedcode.separatedfiles.inlinescripts .fig-js.org-1 {
	top: 90px;
}
.organizedcode .separatedfiles.inlinescripts .fig-js.org-2,
.organizedcode.separatedfiles.inlinescripts .fig-js.org-2 {
	top: 180px;
}
.organizedcode .separatedfiles.inlinescripts .fig-js.org-3,
.organizedcode.separatedfiles.inlinescripts .fig-js.org-3 {
	top: 270px;
}
.organizedcode.separatedfiles.inlinescripts .fig-js.org-4,
.organizedcode .separatedfiles.inlinescripts .fig-js.org-4 {
	top: 360px;
}


.packagedcode .fig-html {
	left: -300%;
}
.packagedcode .separatedfiles.inlinescripts .fig-js {
	left: 60px;
	margin-top: -20px;
}

.organizedcode.separatedfiles.inlinescripts .fig-package {
	width: 360px;
	height: 540px;
	top: -40px;
	left: 300%;
	z-index: 1;
}

.packagedcode .organizedcode.separatedfiles.inlinescripts .fig-package {
	left: 40px;
}


.part-main.packagedcode {
	height: 400px;
}

.packagedcode .fig-package {
	width: 360px;
	height: 540px;
	top: -40px;
	z-index: 1;
}
.partitionedpacks .packagedcode .fig-package,
.partitionedpacks.packagedcode .fig-package {
	width: 240px;
	height: 240px;
	top: -40px;
	z-index: 1;
}
.partitionedpacks .packagedcode .fig-package.pkg-1,
.partitionedpacks.packagedcode .fig-package.pkg-1 {
	top:  -40px;
	left: 0;
}
.partitionedpacks .packagedcode .fig-package.pkg-2 {
	top: -40px;
	left: 260px;
}
.partitionedpacks .packagedcode .fig-package.pkg-3,
.partitionedpacks.packagedcode .fig-package.pkg-3 {
	top: 220px;
	left: 0px;
}
.partitionedpacks .packagedcode .fig-package.pkg-4 {
	top: 220px;
	left: 260px;
}


.partitionedpacks.packagedcode .fig-js {
	width: 160px;
	height:40px;
	line-height: .9em;
	-webkit-transform: rotateX(0deg) rotateZ(0deg);
	-moz-transform: rotateX(0deg) rotateZ(0deg);
	-o-transform: rotateX(0deg) rotateZ(0deg);
	-ms-transform: rotateX(0deg) rotateZ(0deg);
	transform: rotateX(0deg) rotateZ(0deg);
}

.partitionedpacks.packagedcode .fig-js span {
	padding: 5px;
	font-size: .6em;
}

.partitionedpacks.packagedcode .fig-js.mod-1 {
	top: -20px;
}
.partitionedpacks.packagedcode .fig-js.mod-2 {
	top: 30px;
}
.partitionedpacks.packagedcode .fig-js.mod-3 {
	top: 80px;
}
.partitionedpacks.packagedcode .fig-js.mod-4 {
	top: 240px;
}
.partitionedpacks.packagedcode .fig-js.mod-5 {
	top: 290px;
}
.partitionedpacks.packagedcode .fig-js.mod-6 {
	top: 340px;
}

.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-1,
.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-3,
.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-4,
.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-5,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-1,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-3,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-4,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-5 {
	left: 200px;
}

.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-1,
.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-4,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-1,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-4 {
	background-color: #d349a3;
}

.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-3,
.overlappingdeps .partitionedpacks.packagedcode .fig-js.mod-5,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-3,
.overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-5 {
	background-color: #ff3d23;
}


.commonpack .packagedcode.partitionedpacks.overlappingdeps {}

.packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-4 {
	opacity: 0;
	top: -300%;

}

.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-1,
.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-3 {
	height: 140px;
	top: 360px;
}

.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-1 {
	left: 0;
}

.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-3 {
	left: 260px;
}


.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-2 {
	top: 380px;
	left: 20px;
}
.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-6 {
	top: 380px;
	left: 280px;
}


.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-1 {
	top: 20px;
	left: 20px;
}
.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-3 {
	top: 60px;
	left: 20px;
}


.commonpack .overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-4,
.commonpack .overlappingdeps.partitionedpacks.packagedcode .fig-js.mod-5 {
	opacity: 0;
	top: 0;
}

.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-4 {
	opacity: 1;
	top: 0;
	width: 500px;
	height: 120px;
}

.hugecommonpack.commonpack .packagedcode.partitionedpacks.overlappingdeps .fig-package.pkg-4 {
	height: 340px;
}

.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-7,
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-8,
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-9,
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-10 {
	left: -200px;
	opacity: 0;
	transition-duration: 200ms;
}


.hugecommonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-7,
.hugecommonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-8,
.hugecommonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-9,
.hugecommonpack .packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-10 {
	left: 20px;
	opacity: 1;
}


.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-7 {
	background-color: #91b31b;
	top: 100px;
}
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-8 {
	background-color: #3fbcb3;
	transition-delay: 100ms;
	top: 140px;
}
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-9 {
	background-color: #009fe0;
	transition-delay: 200ms;
	top: 180px;
}
.packagedcode.partitionedpacks.overlappingdeps .fig-js.mod-10 {
	background-color: #fef9e8;
	transition-delay: 300ms;
	top: 220px;
}




.asyncloading .fig-html,
.asyncpackage .fig-html {
	width: 380px;
	height: 240px;
	top: 174px;
	left: 16px;
	background-color: rgba(51,136,255, 1);

	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg);
}


.asyncloading .fig-server,
.asyncpackage .fig-server {

	position: absolute;
	z-index: 1;
	background-color: rgba(163,204,20, 1);
	border-color: #3388ff;


	width: 380px;
	height: 240px;
	top: -80px;
	left: 5px;

	-webkit-transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg);
	transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg);
}




.asyncloading .fig-js,
.asyncpackage .fig-js {
	width: 70px;
	height: 180px;
	top: 32px;

	-webkit-transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(0px, -110px,70px);
	transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(0px, -110px,70px);
}

.asyncloading .fig-js.fig-dep1 {

	height: 100px;
	top: 80px;

	-webkit-transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(80px, -160px, 70px);
	transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(80px, -160px, 70px);
}
.asyncloading .fig-js.fig-dep2 {

	height: 100px;
	top: 80px;

	-webkit-transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(160px, -160px, 70px);
	transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(160px, -160px, 70px);
}


.asyncloading .fig-js.fig-required,
.asyncpackage .fig-js.fig-required {

	background-color: rgba(255, 255, 255, 1);

	-webkit-transform: rotateX(46deg) rotateZ(-30deg) rotateY(19deg) translate3d(10px, 90px, 80px);
	transform: rotateX(46deg) rotateZ(-30deg) rotateY(19deg) translate3d(10px, 90px, 80px);

	opacity: 0;
	top: 148px;
}

.do-require .asyncloading .fig-js.fig-required,
.do-require .asyncpackage .fig-js.fig-required {
	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(10px, 90px, 40px);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(10px, 90px, 40px);
	opacity: 1;
}

.fetch-module .asyncloading .fig-js.fig-module {
	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(20px, 100px, 80px);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(20px, 100px, 80px);
	top: 148px;
}

.fetch-module.do-require .asyncloading .fig-js.fig-required {
	opacity: 0;
}

.has-deps.fetch-module .asyncloading .fig-js.fig-dep1,
.has-deps.fetch-module .asyncloading .fig-js.fig-dep2,
.has-deps.fetch-module .asyncloading .fig-js.fig-module {
	background-color: rgba(206, 54, 19, 1);
}


.wait-deps .asyncloading .fig-js.fig-dep1 {
	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(100px, 102px, 80px);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(100px, 102px, 80px);
	top: 148px;
}
.wait-deps .asyncloading .fig-js.fig-dep2 {
	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(184px, 102px, 80px);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(184px, 102px, 80px);
	transition-delay: 100ms;
	top: 148px;
}



.module-available.has-deps.fetch-module .asyncloading .fig-js.fig-dep1,
.module-available.has-deps.fetch-module .asyncloading .fig-js.fig-dep2,
.module-available.has-deps.fetch-module .asyncloading .fig-js.fig-module {
	background-color: #a3cc14;
}



.figures.dependencygraph {
	height: 420px;
	position: relative;
}

.dependencygraph .fig-js {
	position: absolute;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);

	top: 380px;
	left: 240px;

	width: 70px;
	height: 100px;
}



.dependencygraph .fig-js.fig-dep1,
.dependencygraph .fig-js.fig-dep2,
.dependencygraph .fig-js.fig-dep3,
.dependencygraph .fig-js.fig-dep4,
.dependencygraph .fig-js.fig-dep5,
.dependencygraph .fig-js.fig-dep6 {
	top: 200%;
	left: 240px;
}


.dependencygraph .fig-js.fig-dep1,
.dependencygraph .fig-js.fig-dep2 {
 transition-delay: 0ms;
}


.dependencygraph .fig-js.fig-dep3 {
	transition-delay: 300ms;
}

.dependencygraph .fig-js.fig-dep4,
.dependencygraph .fig-js.fig-dep5 {
	transition-delay: 600ms;
}

.dependencygraph .fig-js.fig-dep6 {
	transition-delay: 900ms;
}


.dep-graph .dependencygraph .fig-js.fig-dep1,
.dep-graph.dependencygraph .fig-js.fig-dep1 {
	top: 240px;
	left: 170px;
}
.dep-graph .dependencygraph .fig-js.fig-dep2,
.dep-graph.dependencygraph .fig-js.fig-dep2 {
	top: 240px;
	left: 310px;
}
.dep-graph .dependencygraph .fig-js.fig-dep3,
.dep-graph.dependencygraph .fig-js.fig-dep3 {
	top: 100px;
	left: 100px;
}
.dep-graph .dependencygraph .fig-js.fig-dep4,
.dep-graph.dependencygraph .fig-js.fig-dep4 {
	top: 100px;
	left: 380px;
}
.dep-graph .dependencygraph .fig-js.fig-dep5,
.dep-graph.dependencygraph .fig-js.fig-dep5 {
	top: 100px;
	left: 240px;
}
.dep-graph .dependencygraph .fig-js.fig-dep6,
.dep-graph.dependencygraph .fig-js.fig-dep6 {
	top: -40px;
	left: 450px;
}

.dependencygraph .svg-deparrow {
	opacity: 0;
}

.downsides.dependencygraph .svg-arrow1,
.dependencygraph .svg-arrow1 {
	top: 334px;
	left: 202px;
	transition-delay: 350ms;
}
.downsides.dependencygraph .svg-arrow2,
.dependencygraph .svg-arrow2 {
	top: 192px;
	left: 274px;
	transition-delay: 650ms;
}
.downsides.dependencygraph .svg-arrow3,
.dependencygraph .svg-arrow3 {
	top: 192px;
	left: 130px;
	transition-delay: 650ms;
}
.downsides.dependencygraph .svg-arrow4,
.dependencygraph .svg-arrow4 {
	left: 344px;
	top: 50px;
	transition-delay: 950ms;
}

.dep-graph .dependencygraph .svg-deparrow {
	opacity: 1;
}


.downsides.dependencygraph .svg-deparrow {
	opacity: 1;
	transition-delay: 0ms;
}

.transdeps .downsides.dependencygraph .svg-deparrow {
	opacity: 0;
}

.downsides.dependencygraph .fig-js.fig-dep1,
.downsides.dependencygraph .fig-js.fig-dep2,
.downsides.dependencygraph .fig-js.fig-dep3,
.downsides.dependencygraph .fig-js.fig-dep4,
.downsides.dependencygraph .fig-js.fig-dep5,
.downsides.dependencygraph .fig-js.fig-dep6,
.downsides.dependencygraph .fig-js.fig-module {
	transition-delay: 0ms;
}

.transdeps .dependencygraph .fig-js.fig-dep1,
.transdeps .dependencygraph .fig-js.fig-dep2,
.transdeps .dependencygraph .fig-js.fig-dep3,
.transdeps .dependencygraph .fig-js.fig-dep4,
.transdeps .dependencygraph .fig-js.fig-dep5,
.transdeps .dependencygraph .fig-js.fig-dep6,
.transdeps .dependencygraph .fig-js.fig-module {
	top: 0;
}

.transdeps .dependencygraph .fig-js.fig-dep5 { left: 370px; transition-delay: 80ms; }
.transdeps .dependencygraph .fig-js.fig-dep4 { left: 290px; transition-delay: 160ms; }
.transdeps .dependencygraph .fig-js.fig-dep3 { left: 210px; transition-delay: 240ms; }
.transdeps .dependencygraph .fig-js.fig-module { left: 130px; transition-delay: 320ms; }
.transdeps .dependencygraph .fig-js.fig-dep2 { left: 50px; transition-delay: 400ms; }
.transdeps .dependencygraph .fig-js.fig-dep1 { left: -30px; transition-delay: 480ms; }

.waterfall.transdeps .dependencygraph .fig-js.fig-dep1,
.waterfall.transdeps .dependencygraph .fig-js.fig-dep2,
.waterfall.transdeps .dependencygraph .fig-js.fig-dep3,
.waterfall.transdeps .dependencygraph .fig-js.fig-dep4,
.waterfall.transdeps .dependencygraph .fig-js.fig-dep5,
.waterfall.transdeps .dependencygraph .fig-js.fig-dep6,
.waterfall.transdeps .dependencygraph .fig-js.fig-module {
	top: 100%;
	box-shadow: 0 20px 56px rgba(0, 0, 0, 0.2);
}






.dep-graph .deppaths .fig-js.fig-dep1,
.dep-graph.deppaths .fig-js.fig-dep1 {
	top: 240px;
	left: 450px;
}

.dep-graph .deppaths .fig-js.fig-dep3,
.dep-graph.deppaths .fig-js.fig-dep3 {
	top: 380px;
	left: 520px;
}




.dep-graph .deppaths .fig-js.fig-dep22,
.dep-graph.deppaths .fig-js.fig-dep22 {
	top: 240px;
	left: 310px;
}

.dep-graph .dependencygraph .fig-js.fig-dep52,
.dep-graph.dependencygraph .fig-js.fig-dep52 {
	top: 100px;
	left: 240px;
}

.dep-graph .deppaths .fig-js.fig-dep6,
.dep-graph.deppaths .fig-js.fig-dep6,
.dep-graph .deppaths .fig-js.fig-dep62,
.dep-graph.deppaths .fig-js.fig-dep62 {
	top: -40px;
	left: 170px;
	-webkit-transition-delay: 0;
	transition-delay: 0;

	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.deppaths .fig-js.fig-module2,
.deppaths .fig-js.fig-dep22,
.deppaths .fig-js.fig-dep62,
.deppaths .fig-js.fig-dep52 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0px, 0px, -1px);
}



.deppaths .fig-js.fig-dep2,
.deppaths .fig-js.fig-dep22 {
	transition-delay: 350ms;
}

.deppaths .fig-js.fig-module,
.deppaths .fig-js.fig-module2 {
	transition-delay: 650ms;
}




.deppaths .fig-js small{
	position: absolute;
	top: 3px;
	right: 6px;
	font-size: .7em;
}



.deppaths .svg-arrow1 {
	top: 334px;
	left: 202px;

}
.deppaths .svg-arrow3 {
	top: 192px;
	left: 414px;

}
.deppaths .svg-arrow4 {
	top: 50px;
	left: 202px;

}
.deppaths .svg-arrow5 {
	top: 334px;
	left: 486px;

}




@-webkit-keyframes moduleChanges {
	10% {
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(-10px, 0px, 80px);
	}

	100% {
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg) translate3d(0px, 0px, -1px);
	}
}



.changes .deppaths .fig-js.fig-dep6 {
	-webkit-animation: moduleChanges .7s forwards;
}
.changes .deppaths .fig-js.fig-dep62 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0px, 0px, 1px);
}


.changes.propagate .deppaths .fig-js.fig-module {
	-webkit-animation: moduleChanges .7s .65s forwards;
}
.changes.propagate .deppaths .fig-js.fig-dep2 {
	-webkit-animation: moduleChanges .7s .35s forwards;
}

.changes.propagate .deppaths .fig-js.fig-dep5 {
	-webkit-animation: moduleChanges .7s forwards;
}

.changes.propagate .deppaths .fig-js.fig-module2,
.changes.propagate .deppaths .fig-js.fig-dep22,
.changes.propagate .deppaths .fig-js.fig-dep52 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0px, 0px, 1px);
}





.deppaths .fig-js.fig-dep4,
.deppaths .fig-js.fig-dep3,
.deppaths .fig-js.fig-dep1 {
	-webkit-transition-delay: 0;
	transition-delay: 0;
}



.affected.changes.propagate .deppaths .fig-js.fig-dep4,
.affected.changes.propagate .deppaths .fig-js.fig-dep3,
.affected.changes.propagate .deppaths .fig-js.fig-dep1 {
	opacity: .4;
	-webkit-filter: grayscale(80%);
}








.asyncpackage .fig-js {
	width: 60px;
	height: 100px;
}

.asyncpackage .fig-package {
	width: 180px;
	height: 180px;
	top: 32px;


	-webkit-transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(6px,-105px,36px);
	transform: rotateX(-20deg) rotateZ(8deg) rotateY(33deg) translate3d(6px,-105px,36px);
}

.asyncpackage .fig-js.fig-required {
	height: 180px;
}


.asyncpackage .fig-package .fig-js {
	-webkit-transform: translate(13px,-16px);
	transform: translate(13px,-16px);
}

.asyncpackage .fig-package .fig-js.fig-dep1 {
	height: 70px;
	-webkit-transform: translate(83px,-16px);
	transform: translate(83px,-16px);
}

.fetch-module.do-require  .asyncpackage .fig-required {
	opacity: 0;
}

.fetch-module .asyncpackage .fig-package,
.fetch-module.asyncpackage .fig-package {
	-webkit-transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(15px,74px,44px);
	transform: rotateX(20deg) rotateZ(-16deg) rotateY(20deg) translate3d(15px,74px,44px);
	top: 148px;
}

.module-available  .asyncpackage .fig-package .fig-js,
.module-available.asyncpackage .fig-package .fig-js {

}
.module-available .asyncpackage .fig-package .fig-js.fig-dep1,
.module-available.asyncpackage .fig-package .fig-js.fig-dep1 {
	height: 70px;

}

.module-available .asyncpackage .fig-package .fig-js,
.module-available.asyncpackage .fig-package .fig-js {
	background-color: #a3cc14;
}


.whichpackage .asyncpackage .fig-html {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	-moz-transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	-o-transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	-ms-transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	transform: rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
	width: 480px;
	height: 180px;
	top: 200px;
}

.whichpackage .asyncpackage .fig-server {
	top: -200%;
	opacity: 0;
}

.asyncpackage .fig-package strong {
	display: block;
	position: absolute;
	top: 0;
	font-size: 110px;
	top: 36px;
	left: 60px;
	opacity: 0;
	-webkit-transition: all .7s;-moz-transition: all .7s;-ms-transition: all .7s;-o-transition: all .7s;transition: all .7s;
}

.whichpackage .asyncpackage .fig-package {
	top: 0;
	background-color: rgba(150,150,150,1);
	-webkit-transform: rotateX(0deg) rotateZ(0deg) translate(15px, 0px);
	transform: rotateX(0deg) rotateZ(0deg) translate(15px, 0px);
}

.whichpackage .asyncpackage .fig-package .fig-js {
	opacity: 0;
}


.whichpackage .asyncpackage .fig-package strong {
	opacity: 1;
}



.jmsidealfor {
	min-height: 200px;
}


.jmsidealfor .svg {
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
	-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;
}

.jmsidealfor .svg.svg-spa {
	top: -120px;
	left: -80px;
	opacity: 0;
}
.jmsidealfor .svg.svg-ux {
	top: 210px;
	left: -140px;
	opacity: 0;
}
.jmsidealfor .svg.svg-sloc {
	top: -120px;
	left: 240px;
	opacity: 0;
}
.jmsidealfor .svg.svg-time {
	top: 210px;
	left: 240px;
	opacity: 0;
}


.spa .jmsidealfor .svg.svg-spa {
	top: -80px;
	left: -40px;
	opacity: 1;
}
.ux .jmsidealfor .svg.svg-ux {
	top: 170px;
	left: -40px;
	opacity: 1;
}
.sloc .jmsidealfor .svg.svg-sloc {
	top: -80px;
	left: 200px;
	opacity: 1;
}
.time .jmsidealfor .svg.svg-time {
	top: 170px;
	left: 200px;
	opacity: 1;
}


.jmstechintro .svg-node {
	top: 80px;
	left: 0;
}
.jmstechintro .svg-redis {
	top: 80px;
	right: 0;
}



.jmsdeploy .svg-redis {
	top: 80px;
	right: 80px;
}
.jmsdeploy .svg-hdds {
	top: 80px;
	left: 80px;
}
.jmsdeploy.figures .arrow {
	top: 124px;
	left: 200px;
	width: 138px;
}


.duringdeploy .svg-redis {
	right: -40px;
}
.duringdeploy .svg-hdds {
	left: -40px;
}
.duringdeploy .jmsdeploy.figures .arrow {
	left: 80px;
	width: 380px;
}

.jmsdeploy .svg-errchk {
	left: 100px;
	top: 0;
}
.jmsdeploy .svg-deps {
	left: 220px;
	top: 0;
}
.jmsdeploy.figures .svg-plugins {
	left: 340px;
	top: 0;
}
.jmsdeploy .svg-errchk,
.jmsdeploy .svg-deps,
.jmsdeploy.figures .svg-plugins {
	top: 20px;
	opacity: 0;
}


.errcheck .jmsdeploy .svg-errchk {
	top: 0;
	opacity: 1;
}
.depgraph .jmsdeploy .svg-deps {
	top: 0;
	opacity: 1;
}
.plugins .jmsdeploy.figures .svg-plugins {
	top: 0;
	opacity: 1;
}

.taskrunners .svg-grunt {
	top: -50px; left: 0;
}

.taskrunners .svg-gulp {
	top: -50px; right: 0;
}






.jmsclient .fig-html  {
	width: 380px;
	height: 240px;
	top: 180px;
	left: 80px;
	background-color: rgba(51,136,255, 1);

	-webkit-transform: rotateX(70deg) rotateZ(-30deg);
	-moz-transform: rotateX(70deg) rotateZ(-30deg);
	-o-transform: rotateX(70deg) rotateZ(-30deg);
	-ms-transform: rotateX(70deg) rotateZ(-30deg);
	transform: rotateX(70deg) rotateZ(-30deg);
}


.jmsclient .fig-server  {

	position: absolute;
	z-index: 1;
	background-color: rgba(211,73,163, 1);
	border-color: #3388ff;


	width: 180px;
	height: 240px;
	top: -100px;
	left: 0px;

	-webkit-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-moz-transform:rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-o-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-ms-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
}

.jmsclient .fig-js.fig-jmsc {
	width: 82px;
	line-height: 1em;
	height: 48px;
	font-size: .6em;

	-webkit-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg) translate3d(-45px,-90px,0);
	-moz-transform:rotateX(0deg) rotateZ(-4deg) rotateY(45deg) translate3d(-45px,-90px,0);
	-o-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg) translate3d(-45px,-90px,0);
	-ms-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg) translate3d(-45px,-90px,0);
	transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg) translate3d(-45px,-90px,0);

	top: 77px;
	left: 71px;
	opacity: 0;
}

.serveclient .jmsclient .fig-js.fig-jmsc {

	-webkit-transform: rotateX(70deg) rotateZ(-30deg) translate3d(0px, 158px, 0);
	-moz-transform: rotateX(70deg) rotateZ(-30deg) translate3d(0px, 158px, 0);
	-o-transform: rotateX(70deg) rotateZ(-30deg) translate3d(0px, 158px, 0);
	-ms-transform: rotateX(70deg) rotateZ(-30deg) translate3d(0px, 158px, 0);
	transform: rotateX(70deg) rotateZ(-30deg) translate3d(0px, 158px, 0);
	top: 180px;
	left: 80px;
	opacity: 1;
}



.jmsclient .font-code.req1,
.jmsclient .font-code.req2 {
	left: 210px;
	position: absolute;
	text-align: left;
	width: 400px;
	font-size: .7em;
}

.jmsclient .font-code.req1 {
	top: -50px;
	opacity: 0;
}

.jmsclient .font-code.req2 {
	top: -8px;
	opacity: 0;
}

.jmsclient .arrow.fetch-one,
.jmsclient .arrow.fetch-two {
	width: 100px;
	position: absolute;
	opacity: 0;
	-webkit-transform: rotateX(79deg) rotateY(-1deg) rotateZ(-121deg) translate3d(-180px, 55px, 0);
	top:260px;
}


.fetch .jmsclient .arrow.fetch-one,
.register .jmsclient .arrow.fetch-two {
	-webkit-transform: rotateX(20deg) rotateY(21deg) rotateZ(-104deg) translate3d(0px, 25px, 0);
	top: 0;
	-webkit-animation: fetchOne .7s forwards;
}

.fetch .jmsclient .font-code.req1 {
	opacity: 1;
}
.register .jmsclient .font-code.req2 {
	opacity: 1;
}


@-webkit-keyframes fetchOne {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}



.jmsclient .fig-package {
	width: 118px;
	-webkit-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-moz-transform:rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-o-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	-ms-transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	transform: rotateX(0deg) rotateZ(-4deg) rotateY(45deg);
	opacity: 0;

}
.jmsclient .fig-package span {
	font-size: .6em;
}
.jmsclient .fig-package.fig-pak1 {
	height: 100px;
	transition-delay: 300ms;
}
.jmsclient .fig-package.fig-pak2 {
	height: 70px;
}

.order .jmsclient .fig-package.fig-pak1 {
	-webkit-transform: rotateX(70deg) rotateZ(-30deg) translate(0px,192px);
	transform: rotateX(70deg) rotateZ(-30deg) translate(0px,192px);
	top: 180px;
	left: 78px;
	opacity: 1;
}
.order .jmsclient .fig-package.fig-pak2 {
	-webkit-transform: rotateX(70deg) rotateZ(-30deg) translate(120px,200px);
	transform: rotateX(70deg) rotateZ(-30deg) translate(120px,200px);
	top: 180px;
	left: 78px;
	opacity: 1;
}



.versionhandling .fig-server,
.versionhandling .fig-html,
.versionhandling .fig-package,
.versionhandling .fig-jmsc,
.versionhandling .arrow
{
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
}
.versionhandling .fig-html {
	width: 480px;
	height: 180px;
	top: 320px;
	left: 0px;

}
.versionhandling .fig-server {
	background-color: rgba(211,73,163, 1);
	border-color: #3388ff;
	position: absolute;

	width: 480px;
	height: 70px;
	top: 140px;
	left: 0px;
}
.versionhandling .fig-package {
	width: 120px;
	height: 200px;
	line-height: 1em;
	left: 185px;
	top: -70px;
}
.versionhandling .fig-package.fig-pak2 {
	opacity: 0;
	left: 440px;
}
.versionhandling .fig-jmsc {
	width: 124px;

	height: 48px;
	line-height: 1em;
	font-size: .6em;
	left: 186px;
	top: 360px;
	opacity: 0;
	z-index: 21;
}
.loadv42 .versionhandling .fig-jmsc {
	top: 380px;
	opacity: 1;
}

.versionhandling .arrow {
	z-index: 20;
	opacity: 0;
	width: 40px;
	left: 244px;
	top: 380px;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotateX(0deg) rotateZ(-90deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(-90deg) rotateY(0deg) translate3d(0,0,0);
}

.bound .versionhandling .arrow {
	opacity: 1;
	width: 248px;
}

.deploy .versionhandling .fig-package.fig-pak2 {
	opacity: 1;
	left: 340px;
}

.remain.deploy .versionhandling .fig-package.fig-pak1 {
	left: 45px;
}
.remain.deploy .versionhandling .fig-package.fig-pak2 {
	left: 185px;
}

.remain.deploy .versionhandling .arrow {
	width: 280px;
	-webkit-transform: rotateX(0deg) rotateZ(-117deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(-117deg) rotateY(0deg) translate3d(0,0,0);
}


/*

	 _   _ _____ ____    _  _____ _____     _______    _     ___    _    ____ ___ _   _  ____
	| \ | | ____/ ___|  / \|_   _|_ _\ \   / / ____|  | |   / _ \  / \  |  _ \_ _| \ | |/ ___|
	|  \| |  _|| |  _  / _ \ | |  | | \ \ / /|  _|    | |  | | | |/ _ \ | | | | ||  \| | |  _
	| |\  | |__| |_| |/ ___ \| |  | |  \ V / | |___   | |__| |_| / ___ \| |_| | || |\  | |_| |
	|_| \_|_____\____/_/   \_\_| |___|  \_/  |_____|  |_____\___/_/   \_\____/___|_| \_|\____|


*/


.negativeloading .fig-server,
.negativeloading .fig-html,
.negativeloading .fig-js,
.negativeloading .arrow,
.negativeloading .font-code,
.negativeloading .fig-package.fig-pak1 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(0,0,0);
}

.negativeloading .fig-server,
.negativeloadingsteptwo .fig-server {
	width: 480px;
	height: 340px;
	background-color: rgba(211,73,163, 1);
	position: absolute;
	top: -100px;
	left: 40px;
	font-size: .6em;
	z-index: 1;
}

.negativeloading .fig-html,
.negativeloadingsteptwo .fig-html {
	width: 480px;
	height: 200px;
	top: 300px;
	left: 40px;
	font-size: .6em;
	z-index: 1;
}

.negativeloading .fig-package,
.negativeloadingsteptwo .fig-package {
	height: 295px;
	width: 200px;
	top: -80px;
	left: 80px;
	z-index: 2;
	opacity: 0;

}

.negativeloading .fig-package.fig-pak2 {
	display: none;
}

.negativeloading .fig-js,
.negativeloadingsteptwo .fig-js {
	height: 50px;
	width: 130px;
	font-size: .8em;
	line-height: .8em;
	left: 0px;
	opacity: 0;
	z-index: 3;
}

.negativeloading .font-code.req1,
.negativeloading .font-code.req2,
.negativeloadingsteptwo .font-code.req2 {
	position: absolute;
	left: 0;
	top: 245px;
	width: 550px;
	text-align: center;
	z-index: 2;
	display: none;
	-webkit-transition: all .7s;-moz-transition: all .7s;-ms-transition: all .7s;-o-transition: all .7s;transition: all .7s;
	font-weight: bold;
}

.request .negativeloading .font-code.req1 {
	display: block;
}


.negativeloading .fig-js.fig-module1 {top: -70px; width: 140px; }
.negativeloading .fig-js.fig-dep11 { top: -15px;}
.negativeloading .fig-js.fig-dep12 { top: 40px;}
.negativeloading .fig-js.fig-dep13 { top: 95px;}
.negativeloading .fig-js.fig-dep14 { top: 150px;}

.negativeloading .fig-js.fig-dep11,
.negativeloading .fig-js.fig-dep12,
.negativeloading .fig-js.fig-dep13,
.negativeloading .fig-js.fig-dep14 {
	margin-left: 40px;
	transition-delay: 800ms;
}

.negativeloading .fig-package.fig-pak1 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-250px,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-250px,0,0);
}



.pac .negativeloading .fig-js {
	left: 75px;
	opacity: 1;
}

.serve .negativeloading .fig-package.fig-pak1 {
	-webkit-animation: negLoadPack 2s forwards;
}


.serve.pac .negativeloading .fig-js {
	-webkit-animation: negLoadJs 2s forwards;
}

.serve.pac .negativeloading .fig-js.fig-module1 {
	-webkit-animation: negLoadModule 2s forwards;
}

@-webkit-keyframes negLoadJs {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg)translate(0,0);
	}

	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,420px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,420px);
	}
}

@-webkit-keyframes negLoadModule {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
	}

	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,0);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate(0,410px);
	}
}



.register.request .negativeloading .font-code.req1 span ,
.negativeloadingsteptwo .font-code.req1 span {
	display: none;
}

.register.request .negativeloading .font-code.req1,
.negativeloadingsteptwo .font-code.req1 {
	position: absolute;
	left: 180px;
	top: 310px;
	font-size: .6em;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(0,0,60px);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(0,0,60px);
}



.negativeloadingsteptwo .fig-server,
.negativeloadingsteptwo .fig-html,
.negativeloadingsteptwo .fig-js,
.negativeloadingsteptwo .arrow,
.negativeloadingsteptwo .font-code,
.negativeloadingsteptwo .fig-package.fig-pak2 {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,0);
}

.negativeloadingsteptwo .font-code.req1 {
	left: 390px;
	top: 280px;
	font-weight: bold;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,60px);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,60px);
}

.subtract .negativeloadingsteptwo .font-code.req2 {
	display: block;
}



.negativeloadingsteptwo .fig-js.fig-module1 {top: -80px; width: 140px; }
.negativeloadingsteptwo .fig-js.fig-dep1 { top: -23px;}
.negativeloadingsteptwo .fig-js.fig-dep2 { top: 31px;}
.negativeloadingsteptwo .fig-js.fig-dep5 { top: 31px;}
.negativeloadingsteptwo .fig-js.fig-dep3 { top: 85px;}
.negativeloadingsteptwo .fig-js.fig-dep4 { top: 140px;}
.negativeloadingsteptwo .fig-js.fig-dep6 { top: 140px;}

.negativeloadingsteptwo .fig-js.fig-dep1,
.negativeloadingsteptwo .fig-js.fig-dep2,
.negativeloadingsteptwo .fig-js.fig-dep3,
.negativeloadingsteptwo .fig-js.fig-dep4,
.negativeloadingsteptwo .fig-js.fig-dep5,
.negativeloadingsteptwo .fig-js.fig-dep6 {
	margin-left: 40px;
	transition-delay: 800ms;
}

.negativeloadingsteptwo .fig-js.fig-jsreq {
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(-46px,0,40px);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(-46px,0,40px);
}

.negativeloadingsteptwo .fig-js.fig-module2 {top: -80px; width: 140px; }

.find .negativeloadingsteptwo .fig-jsprev {
	left: 300px;
	opacity: 1;
}

.find .negativeloadingsteptwo .fig-jsreq {
	left: 100px;
	opacity: 1;
}

@-webkit-keyframes diffDeps {

	20%, 80% {
		opacity: 1;
		background-color: #a3cc14;
	}


	100% {
		opacity: 0;

	}
}

.diff .negativeloadingsteptwo .fig-js.fig-jsprev.fig-dep1,
.diff .negativeloadingsteptwo .fig-js.fig-jsreq.fig-dep1,
.diff .negativeloadingsteptwo .fig-js.fig-jsprev.fig-dep3,
.diff .negativeloadingsteptwo .fig-js.fig-jsreq.fig-dep3 {
	transition-delay: 0ms;
	-webkit-animation: diffDeps 2s forwards;
}

.negativeloadingsteptwo .fig-package {
	height: 235px;
	width: 200px;
}

@-webkit-keyframes negLoadPack {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,-2px,-10px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,-2px,-10px);
	}
	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,-2px,-10px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,-2px,-10px);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,410px,-10px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,410px,-10px);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,410px,-10px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(-15deg) translate3d(-20px,410px,-10px);
	}
}

@-webkit-keyframes negLoadPack2 {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,30px,26px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,30px,26px);
	}
	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,30px,26px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,30px,26px);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,400px,26px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,400px,26px);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,410px,26px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0px,410px,26px);
	}
}

@-webkit-keyframes negLoadModule2 {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,50px, 30px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0, 20px);
	}
	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0, 50px, 30px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0, 20px);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,410px, 30px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,410px, 20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,410px, 30px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,410px, 20px);
	}
}

@-webkit-keyframes negLoadDep6 {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,-50px, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,-50px, 20px);
	}

	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,-50px, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,-50px, 20px);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0, 320px,  20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,320px,  20px);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0, 510px, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,510px, 20px);
	}
}

@-webkit-keyframes negLoadDep5 {
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,0);
	}

	40% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,0);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,365px,  20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,365px, 0px);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,510px, 20px);
		transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,510px, 0px);
	}
}

.serve .negativeloadingsteptwo .fig-package.fig-pak2 {
	-webkit-animation: negLoadPack2 2s forwards;
}


.serve .negativeloadingsteptwo .fig-js.fig-module2 {
	-webkit-animation: negLoadModule2 2s forwards;
	transition-delay: 0ms;
}
.serve .negativeloadingsteptwo .fig-js.fig-dep6 {
	-webkit-animation: negLoadDep6 2s forwards;
	transition-delay: 0ms;
}

.serve .negativeloadingsteptwo .fig-js.fig-dep5 {
	-webkit-animation: negLoadDep5 2s forwards;
	transition-delay: 0ms;
}

.serve .negativeloadingsteptwo .fig-js.fig-module1,
.serve .negativeloadingsteptwo .fig-js.fig-dep2,
.serve .negativeloadingsteptwo .fig-js.fig-dep4 {
	transition-delay: 0ms;
	opacity: 0;
	margin-left: 100px;
}


.register.serve .negativeloadingsteptwo .font-code.req2 span {
	display: none;
}

.register.serve .negativeloadingsteptwo .font-code.req2  {
	position: absolute;
	left: 158px;
	top: 310px;
	font-size: .6em;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,60px);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(15deg) translate3d(0,0,60px);
}




.scaling {
	height: 400px;
}


.scaling .arrow {
	width: 10px;
	opacity: 0;
	position: absolute;
	height: 5px;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	z-index: 1;
	top: 204px;
}

.scaling .arrow:after {
	font-size: 30px;
	right: -10px;
	top: -21px;
}



.scaling .arrow.from1 {
	left: 155px;
}
.scaling .arrow.from2 {
	left: 372px;
}
.scaling .arrow.from3 {
	left: 588px;
}
.scaling .arrow.from4 {
	left: 805px;
}



.scaling .fig-server {
	font-size: .8em;
	position: absolute;
	background-color: rgba(211,73,163, 1);
	width: 90px;
	height: 130px;
	top: 90px;
	z-index: 2;

}

.scaling .server-1 { left: 75px; }
.scaling .server-2 { left: 315px; }
.scaling .server-3 { left: 555px; }
.scaling .server-4 { left: 795px; }



.scaling .svg-redis {
	position: absolute;
	left: 433px;
	top: 320px;
	opacity: 0;
	z-index: 10;
}

.addredis .scaling .svg-redis {
	top: 220px;
	opacity: 1;
}
.addredis .scaling .fig-server {
	top: 0;
}
.addredis .scaling .arrow {
	opacity: 1;
	width: 90px;
	top: 122px
}


.addredis .scaling .arrow.from1,
.addredis .scaling .arrow.from4 {
	width: 290px;
}

.addredis .scaling .arrow.from2,
.addredis .scaling .arrow.from3 {
	width: 120px;
}




.scaling .arrow.from1 {
	-webkit-transform: rotateX(0deg) rotateZ(26deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(26deg) rotateY(0deg) translate3d(0,0,0);
}

.scaling .arrow.from4 {
	-webkit-transform: rotateX(0deg) rotateZ(154deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(154deg) rotateY(0deg) translate3d(0,0,0);
}



.scaling .arrow.from2 {
	-webkit-transform: rotateX(0deg) rotateZ(60deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(60deg) rotateY(0deg) translate3d(0,0,0);
}

.scaling .arrow.from3 {
	-webkit-transform: rotateX(0deg) rotateZ(120deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(154deg) rotateY(0deg) translate3d(0,0,0);
}



.tworedis .scaling .svg-redis.redis-1 {
	left: 333px;
}
.tworedis .scaling .svg-redis.redis-2 {
	left: 530px;
}



.tworedis .scaling .arrow.from1.to1 {
	width: 216px;
	-webkit-transform: rotateX(0deg) rotateZ(42deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(42deg) rotateY(0deg) translate3d(0,0,0);
}
.tworedis .scaling .arrow.from1.to2 {
	width: 393px;
	-webkit-transform: rotateX(0deg) rotateZ(22deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(22deg) rotateY(0deg) translate3d(0,0,0);
}

.tworedis .scaling .arrow.from4.to1 {
	width: 393px;
	-webkit-transform: rotateX(0deg) rotateZ(158deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(158deg) rotateY(0deg) translate3d(0,0,0);
}
.tworedis .scaling .arrow.from4.to2 {
	width: 216px;
	-webkit-transform: rotateX(0deg) rotateZ(138deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(138deg) rotateY(0deg) translate3d(0,0,0);
}



.tworedis .scaling .arrow.from2.to1 {
	width: 108px;
	-webkit-transform: rotateX(0deg) rotateZ(85deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(85deg) rotateY(0deg) translate3d(0,0,0);
}
.tworedis .scaling .arrow.from2.to2 {
	width: 204px;
	-webkit-transform: rotateX(0deg) rotateZ(38deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(38deg) rotateY(0deg) translate3d(0,0,0);
}
.tworedis .scaling .arrow.from3.to1 {
	width: 204px;
	-webkit-transform: rotateX(0deg) rotateZ(142deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(142deg) rotateY(0deg) translate3d(0,0,0);
}
.tworedis .scaling .arrow.from3.to2 {
	width: 108px;
	-webkit-transform: rotateX(0deg) rotateZ(95deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(95deg) rotateY(0deg) translate3d(0,0,0);
}



.morecache .scaling {
	-webkit-transform: translate(0, 90px) scale(.8, .8);
	transform: translate(0, 90px) scale(.8, .8);
}



.scaling .fig-cache {
	line-height: 1em;
	font-size: .8em;
	position: absolute;

	width: 100%;
	height: 58px;
	top: -200px;
	z-index: 2;
	opacity: 0;
}
.scaling .fig-cache span {
	position: relative;
	margin: 0 auto;
}
.morecache .scaling .fig-cache.cache-1 {
	top: -70px; opacity: 1;
	background-color: rgba(0,159,224, 1);
}
.morecache .scaling .fig-cache.cache-2 {
	background-color: rgba(145,179,27, 1);
	opacity: 1;
	top: -140px;
	transition-delay: 300ms;
}



.plugins .figures {
	height: 120px;
}
.plugins.server .figures .arrow,
.plugins.order .figures .arrow,
.plugins.deploy .figures .arrow {
	width: 40px;
	position: absolute;
	height: 20px;
	z-index: 1;
	top: 55px;

}
.plugins.server .figures .arrow:after,
.plugins.order .figures .arrow:after,
.plugins.deploy .figures .arrow:after {
	font-size: 60px;
	right: -20px;
	top: -17px;
}
.deploy.plugins .figures .svg-plugins { left: 275px; }
.deploy.plugins .figures .arrow { left: 217px; }
.server.plugins .figures .svg-plugins { left: 179px; }
.server.plugins .figures .arrow { left: 286px; }


.order.plugins .figures .plugin1 { left: 264px; }
.order.plugins .figures .arrow1{ left: 371px; }
.order.plugins .figures .plugin2 { left: 429px; }
.order.plugins .figures .arrow2{ left: 536px; }
.order.plugins .figures .plugin3 { left: 594px; }


.plugins .svg-streams {
	position: relative;
	margin-top: 20px;
	margin-left: 90px;
}








.figures.howitworks {
	width: 100%;
	height: 400px;
}

.figures.howitworks .arrow,
.figures.howitworks .svg-redis,
.figures.howitworks .svg-hdds,
.figures.howitworks .fig-server,
.figures.howitworks .fig-html,
.figures.howitworks .fig-jmsc {
	position: absolute;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
	-webkit-transition: all .7s;-moz-transition: all .7s;-ms-transition: all .7s;-o-transition: all .7s;transition: all .7s;
}

.figures.howitworks .svg-redis {
	top: 120px;
	left: 240px;
}
.figures.howitworks .svg-hdds {
	top: 120px;
}
.figures.howitworks .fig-server {
	background-color: rgba(211,73,163, 1);
	height: 180px;
	width: 100px;
	top: 100px;
	left: 500px;
}
.figures.howitworks .fig-html {
	right: 0;
	left: auto;
	height: 180px;
	top: 100px;
}

.figures.howitworks .fig-jmsc {
	right: 200px;
	left: auto;
	height: 50px;
	width: 120px;
	top: 120px;
	line-height: .8em;
	font-size: .8em;
}




.figures.howitworks .arrow.deploy {
	top: 170px;
	left: 100px;
}
.figures.howitworks .arrow.request {
	top: 132px;
	right: 254px;
}
.figures.howitworks .arrow.data {
	top: 170px;
	left: 485px;
}
.figures.howitworks .arrow.serve {
	top: 220px;
	right: 344px;
}

.figures.howitworks .arrow { opacity: 0; width: 0; }
.figures.howitworks .svg-redis { opacity: 0; }
.figures.howitworks .svg-hdds { }
.figures.howitworks .fig-server {  opacity: 0;}
.figures.howitworks .fig-html {}
.figures.howitworks .fig-jmsc {  opacity: 0;}

.step1 .figures.howitworks .arrow.deploy { opacity: 1; width: 104px; }
.step1 .figures.howitworks .svg-redis { opacity: 1; }
.step2 .figures.howitworks .fig-server { opacity: 1; }
.step2 .figures.howitworks .fig-jmsc { opacity: 1; right: 100px; }
.step3 .figures.howitworks .arrow.request { opacity: 1; width: 60px; }
.step3 .figures.howitworks .arrow.data { transition-delay: 300ms; opacity: 1; width: 104px; left: 378px; }
.step4 .figures.howitworks .arrow.serve { opacity: 1; width: 60px; right: 280px; }




.repos .fig.fig-js {
	width: 100px;
	height: 130px;
	-webkit-transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translate3d(0,0,0);
	margin-left: -50px;
	top: 150px;
}

.repos .fig.fig-server {
	font-size: .8em;
	position: absolute;
	background-color: rgba(211,73,163, 1);
	width: 100%;
	height: 50px;
	top: -150px;
	z-index: 2;
}

.repos .fig.fig-server span {
	position: relative;
	bottom: auto;
	right: auto;
	padding: 0;
	line-height: 51px;
	color: #fff;
}

.repos .fig.fig-redis {
	font-size: .8em;
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100px;
	top: -50px;
	z-index: 2;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.repos .fig.fig-redis .svg {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	margin-top: -15px;
}

.repos .repo-url {
	position: absolute;
	top: -250px;
	width: 100px;
	margin-left: -50px;
}


.repos .arrow {
	position: absolute;
	top: -10px;
	width: 300px;
	margin-left: -165px;
	-webkit-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);

	-webkit-transform-origin: center top;
	transform-origin: center top;

}

.repos .repo1 {	left: 10%; }
.repos .repo2 {	left: 50%; }
.repos .repo3 {	left: 90%; }

.repos .line {
	position: absolute;
	width: 1px;
	height: 590px;
	top: -280px;
	background: rgba(0,0,0,.2);
}

.repos .repo12 { left: 30%; }
.repos .repo23 { left: 71%; }